.textBox {
    perspective: 400px;
}

.title {
    font-size: 90px;
    line-height: 100px;
    font-weight: 700;
    color: white;
}

.line {
    display: block;
}

.letter {
    display: inline-block;
    transform-style: preserve-3d;
}

.highlight {
    display: inline-block;
    transform-style: preserve-3d;
    color: #00ffcc;
    /* theme color */
}

/* Button */
.btn {
    margin-top: 30px;
    background: linear-gradient(135deg, #00ffcc, #3399ff);
    border: none;
    padding: 14px 26px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    color: #ffffff;
    /* box-shadow: 0 0 18px rgba(0, 255, 204, 0.6); */
    transition: all 0.3s ease;
}

.btn:hover {
    /* box-shadow: 0 0 25px rgba(51, 153, 255, 0.8); */
    transform: translateY(-2px);
}