.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 40px;
  background: #000;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Logo */
.logo img {
  max-width: 180px;
}

/* Desktop Menu */
.menu {
  list-style: none;
  display: flex;
  gap: 30px;
}

.menu li {
  cursor: pointer;
  font-size: 16px;
}

/* Button */
.callBtn {
  background: linear-gradient(135deg, #00ff99, #00cc66);
  border: none;
  color: black;
  padding: 10px 18px;
  border-radius: 6px;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-weight: 600;
}

/* Hamburger */
.hamburger {
  display: none;
  font-size: 22px;
  color: #00ff99;
  cursor: pointer;
}

/* Mobile Menu */
.mobileMenu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 90%;
  background: #000;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 5%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* .mobileMenu_Con {
  padding: 20px;
} */

.mobileItem {
  font-size: 18px;
  padding: 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.mobileBtn {
  background: linear-gradient(135deg, #00ff99, #00cc66);
  border: none;
  color: black;
  padding: 12px;
  border-radius: 6px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  gap: 8px;
  font-weight: 600;
}

/* Responsive */
@media (max-width: 900px) {
  .menu {
    display: none;
  }

  .callBtn {
    display: none;
  }

  .hamburger {
    display: block;
  }
}